div.inner {
    background-color: #080925;
}

div.latest-users-list {
    background-color: #191C59;
}

div.inner.content {
    background-color: #010215;
}

section.expanded {
    background-color: #010215;
}

div.f_New {
    background-color: #010215;
}

div.title {
    background-color: #191C59;
}

h1.contentTitle {
    color: #ffffef;
}

strong.title {
    color: #999999;
    background-color: #080925;
}

span.pinkLight {
    color: #eeeeee;
}

#showGifsInsteadOfMp4s {
    background-color: #010215;
}

button.btn.btn-default.dropdown-toggle {
    background-color: #010215;
}

div.anonHeader {
    background-color: #04063A;
}

a.showCommentsButton.selected {
    background-color: #010215;
}

a.showCommentsButton {
    background-color: #010215;
}

#topUserbar {
    background-color: #070929;
}

div.search-inner input {
    background-color: #294169;
}

a.uploadBttn {
    background-color: #14055F;
    border-color: #2A0E8C;
}

article.main center img {
    content: url("http://2static4.fjcdn.com/comments/3947037+_e5161c8713d69bed9b5257990231ea61.png");
    height: 150px;
    width: 150px;
}

article.main center {
    background-color: #010215;
    text-align: left;
}

#logoFJ a {
    background-image: none;
    content: url("http://2static4.fjcdn.com/comments/3947037+_e5161c8713d69bed9b5257990231ea61.png");
    height: 25px;
    width: 25px;
}

#content {
    background-color: #010215;
}

